{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-transform-imports",
      {
        "axios": {
          "transform": "axios/lib/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
